<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="5f9ea0">
    {% block content %}
    <h1 style="position:relative;text-align:center; top:100px;"><u><b>REGISTER</b></u></h1>
    <div style="position:relative; left:370px;top:100px; width:500px;height:220px;border:3px solid #000; background-color:darkturquoise">
        <div class="topnav" bgcolor="000000">
            <a href="{% url 'login' %}" style="color: #000;">Login    </a>
          </div>
        <hr bgcolor="000000"color="black">
        <form action="register" method="post">
            {% csrf_token %}
            <b>NAME :</b><input type="name" name="name" placeholder="NAME"><br>
            <p></p>
            <b>USERNAME :</b><input type="username" name="username" placeholder="USERNAME"><br>
            <p></p>
            <b>EMAIL ID :</b><input type="email" name="email1" placeholder="Email ID"><br>
            <p></p>
            <b>PASSWORD :</b><input type="password" name="password1" placeholder="Password"><br>
            <p></p>
            <b>CONFIRM PASSWORD :</b><input type="password" name="password2" placeholder="Password"><br>
            <p></p>
            <input type="submit" value = "SUBMIT">
        </form>
    </div>
    {% endblock %}
</body>
</html>